<ion-view view-title="Remote">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <i class="icon ion-plus-round larger" ng-click="click('vol_inc')"></i>
      </div>
      <div class="col">
        <i class="icon ion-android-search larger red" ng-click="click('red')"></i>
      </div>
      <div class="col">
        <i class="icon ion-arrow-up-a larger" ng-click="click('up')"></i>
      </div>
      <div class="col">
        <i class="icon ion-android-search larger blue" ng-click="click('blue')"></i>
      </div>
      <div class="col">
        <i class="icon ion-plus-round larger" ng-click="click('prgm_inc')"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="larger">VOL</span>
      </div>
      <div class="col">
        <i class="icon ion-arrow-left-a larger" ng-click="click('left')"></i>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('ok')">OK</span>
      </div>
      <div class="col">
        <i class="icon ion-arrow-right-a larger" ng-click="click('right')"></i>
      </div>
      <div class="col">
        <span class="larger">PROG</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon ion-minus-round larger" ng-click="click('vol_dec')"></i>
      </div>
      <div class="col">
        <i class="icon ion-android-settings larger green" ng-click="click('green')"></i>
      </div>
      <div class="col">
        <i class="icon ion-arrow-down-a larger" ng-click="click('down')"></i>
      </div>
      <div class="col">
        <i class="icon ion-android-alert larger yellow" ng-click="click('yellow')"></i>
      </div>
      <div class="col">
        <i class="icon ion-minus-round larger" ng-click="click('prgm_dec')"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="larger" ng-click="click('1')">1</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('2')">2</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('3')">3</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('4')">4</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('5')">5</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="larger" ng-click="click('6')">6</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('7')">7</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('8')">8</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('9')">9</span>
      </div>
      <div class="col">
        <span class="larger" ng-click="click('0')">0</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon ion-skip-backward larger" ng-click="click('prev')"></i>
      </div>
      <div class="col">
        <i class="icon ion-play larger" ng-click="click('play')"></i>
      </div>
      <div class="col">
        <i class="icon ion-pause larger" ng-click="click('pause')"></i>
      </div>
      <div class="col">
        <i class="icon ion-skip-forward larger" ng-click="click('next')"></i>
      </div>
      <div class="col">
        <i class="icon ion-record larger red" ng-click="click('rec')"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon ion-volume-mute larger" ng-click="click('mute')"></i>
      </div>
      <div class="col">
        &nbsp;
      </div>
      <div class="col">
        <span class="larger" ng-click="click('home')">FREE</span>
      </div>
      <div class="col">
        &nbsp;
      </div>
      <div class="col">
        <i class="icon ion-power larger red" ng-click="click('power')"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
